<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FactWSFrontSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FactWSFrontSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.mysuitetest.com/mx.com.fact.wsfront/FactWSFront.asmx"
                binding="basicHttpBinding" bindingConfiguration="FactWSFrontSoap"
                contract="ServiceMySuite.FactWSFrontSoap" name="FactWSFrontSoap" />
        </client>
    </system.serviceModel>
</configuration>